
.altcolor{
    background-color:#CCCC00;
    border-radius:15px;
    margin-top:20px;
    padding:20px;
	border-image: url("snailpattern.jpg");
}
.form-control {
    display: inline-block;
}

.invis {
    display: none;
}